.login {
    width: 90%;
    max-width: 50rem;
    margin: 2rem auto;
    padding: 0rem;
  }

  .textarea-container {
      display: flex;
      flex-direction: row;
  }
  
  .actions {
    text-align: center;
  }
  
  .btn {
      margin: 1rem;
  }