.button-container {
  display: flex;
  padding: 10px 5px;
}
.icon-container {
  display: flex;
  align-items: center;
  padding: 10px;
  p {
    margin-left: 5px;
  }
}

.recordFormContainer {
  display: flex;
  margin: 100px;
  width: 60%;
  height: 50%;
  background-color: whitesmoke;
  justify-content: center;
  form {
    margin: 10px;
  }
}
