/* navbar styles */
.navbar {
    width: 100%;
    background: #effaf0;
    padding: 20px 10px;
    box-sizing: border-box;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    z-index: 1;
  }
  .navbar ul {
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    align-items: center;
    text-decoration: none;
  }
  .title {
    margin-right: auto;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.2em;
  }
  .element {
    color: #333;
    text-decoration: none;
  }
  .navbar button, .navbar a {
    margin-left: 16px;
  }
  .navbar a {
    color: #333;
    text-decoration: none;
  }

  