.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 20px;
  p {
    margin-right: 10px;
  }
}

.recordLearnFormContainer {
  display: flex;
  width: 80%;
  height: 80%;
  background-color: whitesmoke;
  justify-content: center;
  border-radius: 10px;

  .form {
    width: 70%;
    height: 60%;
    margin: 25px 0px;

    .response-container {
      padding: 12px 0px;
      margin: 0px 10px 8px 10px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      background-color: lightgrey;

      p {
        color: grey;
      }
    }

    .response-container-wrong {
      padding: 12px 0px;
      margin: 0px 10px 8px 10px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      background-color: lightcoral;

      p {
        color: red;
      }
    }

    .response-container-correct {
      padding: 12px 0px;
      margin: 0px 10px 8px 10px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      background-color: lightgreen;

      p {
        color: green;
      }
    }

    .buttons-container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-end;
      padding: 20px;
    }

    .button-container {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 10px;
    }

    .question-answer-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .answer-container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px;
      }
      .question-container {
        width: 100%;
        height: 125px;
        display: flex;
        justify-content: center;
        padding: 10px;
        border: solid 1px;
        border-color: lightgrey;
        border-radius: 5px;
        margin: 10px;
      }
    }
  }
}
